@media screen and (min-width: 320px) {
  /* .button {
    width: fit-content;
    padding: 8px;
    margin: 15px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: all 150ms ease-in-out;
  } */

  .button {
    display: inline-block;
    text-decoration: none;
    background-color: #ffd000;
    color: #000000;
    border: 2px solid #bfa406;
    border-radius: 19px;
    font-size: 13px;
    margin: 10px auto;
    padding: 10px 25px;
    transition: all 0.4s ease;
  }

  .button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #efaf00;
    border-color: #e2e2e2;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 14px;
    padding: 12px 30px;
  }
  .button:active {
    transform: scale(0.93);
  }
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 16px;
    padding: 13px 35px;
  }
}
