.main {
  height: 300px;
  text-align: center;
  background-color: rgba(252, 248, 14, 0.719);
}
.mainTitle {
  padding: 100px 0;
}

@media screen and (min-width: 468px) {
  .main {
    height: 400px;
  }
  .mainTitle {
    padding: 150px 0;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 30px;
  }
}

@media screen and (min-width: 1023px) {
  .mainTitle {
    padding: 120px 0;
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 40px;
  }
}
