.main {
  text-align: center;
}
.mainTitle {
  height: 25vh;
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: #fcca21;
  background-image: url("../../image/logotype_perfomance.png");
  background-position: center;
  background-position-y: 25px;
  background-size: 260px;
  background-repeat: no-repeat;
  font-size: 10px;
  font-weight: 800;
  color: white;
}

.slogan {
  margin-top: 40px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    padding-top: 220px;
    padding-bottom: 120px;
    font-size: 15px;
    background-position-y: 40px;
    background-size: 330px;
  }
  h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1023px) {
  .mainTitle {
    padding-top: 255px;
    padding-bottom: 135px;
    background-position-y: 20px;
    background-size: 430px;
    font-size: 20px;
  }
  h1 {
    font-size: 60px;
  }
}
