.wrapper {
  background-color: #fcca21;
}
.slider {
  margin: 0 auto;
  width: 270px;
  padding: 10px;
  padding-bottom: 30px;
}
.title {
  font-size: 18px;
  padding: 5px;
}

.image {
  display: block;
  width: 240px;
  margin: 0 auto;
}
.position {
  font-size: 16px;
  padding: 5px;
}
.descrMobile {
  padding: 5px;
  font-size: 14px;
}
.showMoreBtn {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #fff;
  color: #fcca21;
}

.descr {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider {
    min-width: 700px;
    max-width: 720px;
  }

  .title {
    font-size: 22px;
    padding: 5px;
  }

  .card {
    display: flex;
  }

  .image {
    display: block;
    width: 300px;
    height: 400px;
    object-fit: contain;
    margin: 0 auto;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .descrMobile {
    display: none;
  }
  .descr {
    min-width: 300px;
    max-width: 360px;
    margin-left: 10px;
    display: block;
    padding: 5px;
    font-size: 12px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    min-width: 1000px;
    max-width: 1180px;
    /* padding: 15px; */
  }

  /* .image {
    width: 400px;
    margin: 0 auto;
  } */
  .descrMobile {
    display: none;
  }

  .descr {
    min-width: 500px;
    max-width: 600px;
    display: block;
    padding: 5px;
    font-size: 16px;
  }
}
