.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
    width: 430px;
    margin-right: 20px;
  }
  .menuList {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .navLink {
    color: rgb(41, 41, 41);
  }
  .navLink:hover {
    color: rgb(255, 217, 0);
  }
}
