.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    margin-left: auto;
    width: 500px;
    margin-right: 20px;
  }
  .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  .contactsListItem {
    font-size: 12px;
  }

  .contactsListLink {
    color: rgb(41, 41, 41);
    transition: color 250ms;
  }
  .callIcon {
    position: relative;
    top: 2px;
    margin-right: 3px;
  }

  .contactsListLink:hover {
    color: rgb(255, 217, 0);
  }

  .navLink {
    color: rgb(41, 41, 41);
    transition: color 250ms;
  }
  .navLink:hover {
    color: rgb(255, 217, 0);
  }
}
