.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.wrapper {
  position: relative;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}
.closeBtn {
  position: absolute;
  display: block;
  right: -1px;
  top: -1px;
  transition: all 250ms;
  padding: 7px;
  background-color: transparent;
  border: none;
}
.closeBtnIcon {
  fill: black;
}

.closeBtn:hover .closeBtnIcon {
  fill: #fcca21;
}

.closeBtnIcon {
  width: 18px;
  height: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  top: 50%;
  left: 50%;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.label {
  display: block;
  margin-bottom: 20px;
}
.input {
  margin-bottom: 20px;
}
.tinput {
  display: block;
  width: 214px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  margin: 0 auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tinput:hover {
  border-width: 1px;
  border-color: rgb(255, 217, 0);
}

.select {
  width: 240px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: calc(2.25rem + 12px);
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select:hover {
  border-width: 1px;
  border-color: rgb(255, 217, 0);
}
.thanksMsg {
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 600px;
    padding: 30px;
  }

  .select {
    width: 376px;
  }

  .tinput {
    width: 350px;
  }
}
