.wrapper {
  padding: 50px 0 50px 0;
  background-color: #fff;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 15px 15px;
}
.title {
  font-size: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 678px) {
  .list {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
  }
  .title {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
