.wrapper {
  padding: 50px 0 20px 0;
  background-color: #fff;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  /* padding: 15px 0px; */
}
.title {
  font-size: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    min-width: 650px;
    max-width: 900px;
  }
  .title {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .list {
    max-width: 1180px;
  }
}
