.wrapper {
  padding: 20px 0 0 0;
  background-color: #fff;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 15px 15px;
}
.title {
  font-size: 20px;
}

@media screen and (min-width: 678px) {
  .list {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
  }
}
