.wrapper {
  background-color: rgb(236, 238, 240);
  padding: 10px 20px;
}
.title {
  padding-bottom: 10px;
  font-size: 16px;
}

.list {
  font-size: 13px;
  padding-bottom: 15px;
}
.item {
  padding: 3px;
}
.footerButton {
  margin-bottom: 15px;
  text-align: center;
}

.logoList {
  /* display: flex; */
}
.itemLogo {
  width: 178px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background-color 250ms;
}

.itemLogo:hover .socialLinks {
  color: #fcca21;
}
.socialLinks {
  font-size: 16px;
  transition: color 250ms;
}
.mobileLogo {
  color: black;
  display: flex;
  position: relative;
  font-size: 25px;
  top: 3px;
  left: -2px;
}

.mobileLogoVk {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: black;
  height: 30px;
  top: 5px;
}

.mobileListLink {
  color: rgb(41, 41, 41);
  transition: color 250ms;
}
.mobileListLink:hover {
  color: rgb(255, 217, 0);
}

.callIcon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url(../../image/logotype_perfomance.png);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .list {
    font-size: 15px;
    padding-bottom: 0;
  }
  .contacts {
    min-width: 700px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    background-image: url(../../image/logotype_perfomance.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contacts {
    min-width: 1000;
    max-width: 1180px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
