body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 320px) {
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    background-color: black;
  }

  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow:hover {
    background: none !important;
  }
  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    margin: 0 -20px !important;
  }

  .carousel .slide img {
    width: 85%;
  }
}

@media screen and (min-width: 678px) {
  .carousel .slide img {
    width: 100%;
  }
}
