@media screen and (min-width: 320px) {
  .list {
    display: none;
  }

  .mobileItem {
    padding: 0 15px;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .mobileCardInfo {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
  }

  .mobileImage {
    width: 290px;
    height: 290px;
    object-fit: contain;
  }

  .mobileOverlay {
    width: 290px;
  }

  .mobileDescription {
    font-size: 13px;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .mobileList {
    display: none;
  }
  .list {
    display: block;
  }
  .wrapper {
    margin-bottom: 30px;
  }

  .item {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .cardInfo {
    display: flex;
    justify-content: center;
  }

  .image {
    min-height: 365px;
    max-height: 470px;
    min-width: 365px;
    max-width: 470px;

    object-fit: contain;
    /* max-width: 700px; */
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 365px;
    max-height: 470px;
    min-width: 365px;
    max-width: 470px;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    padding: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    max-width: 1200px;
  }

  .image {
    min-height: 500px;
    max-height: 590px;
    min-width: 500px;
    max-width: 590px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-height: 590;
    min-width: 500px;
    max-width: 590px;
  }
  .title {
    margin-bottom: 10px;
  }

  .description {
    font-size: 22px;
    padding: 20px;
    text-align: left;
  }
}
