@media screen and (min-width: 320px) {
  .list {
    display: none;
  }

  .mobileItem {
    padding: 0 15px;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .mobileCardInfo {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    transition: all 250ms;
  }

  .mobileCardInfo:hover {
    transform: scale(1.014);
    box-shadow: 5px 3px rgb(230, 230, 230);
  }

  .mobileImage {
    width: 290px;
    /* height: 290px; */
    object-fit: contain;
  }
  .mobileTitle {
    font-size: 17px;
  }

  .mobileOverlay {
    width: 290px;
  }

  .mobileDescription {
    font-size: 13px;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .mobileList {
    display: none;
  }
  .list {
    display: block;
  }
  .wrapper {
    margin-bottom: 30px;
  }

  .item {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .cardInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    /* min-height: 360px; */
    /* max-height: 470px; */
    min-width: 360px;
    max-width: 470px;

    object-fit: contain;
    /* max-width: 700px; */
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 340px; */
    max-height: 470px;
    min-width: 360px;
    max-width: 470px;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    font-size: 14px;
    padding: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    max-width: 1200px;
  }

  .image {
    min-height: 500px;
    max-height: 590px;
    min-width: 500px;
    max-width: 590px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-height: 590;
    min-width: 500px;
    max-width: 590px;
  }
  .title {
    margin-bottom: 10px;
  }

  .description {
    font-size: 20px;
    padding: 20px;
    text-align: left;
  }
}
