.wrapper {
  padding-top: 20px;
}

.list {
  padding: 30px 10px 0 10px;
}

.item {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  background-color: #ffeb09;
  transition: box-shadow 250ms;
  overflow: hidden;
}

.item:hover {
  box-shadow: 5px 5px rgba(194, 191, 191, 0.61);
}

.item:not(:last-child) {
  margin-bottom: 30px;
}
.mainTitle {
  font-size: 20px;
}
.title {
  font-size: 17px;
  padding: 15px;
}
.icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
}

.item:hover .icon {
  color: black;
}

.image {
  display: block;
  box-sizing: border-box;
  height: 220px;
  width: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 220px;
  width: 300px;
  top: 52px;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.904);
  transition: transform 250ms;
}
.item:hover .overlay {
  transform: translateX(100%);
}

.description {
  font-size: 12px;
  text-align: left;
  padding: 3% 5%;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 0 20px;
  }
  .item {
    min-width: 350px;
  }
  .item:nth-child(n + 2) {
    margin-bottom: 30px;
  }
  .icon {
    right: 15px;
  }

  .image {
    height: 300px;
    width: 350px;
  }
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 350px;
  }
  .description {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    padding: 30px 50px 0 50px;
  }

  .item {
    width: 450px;
  }
  .image {
    height: 360px;
    width: 450px;
  }
  .overlay {
    height: 360px;
    width: 450px;
  }
  .description {
    font-size: 16px;
  }
}
