.wrapper {
  margin: 0 auto 15px;
  width: 140px;
}
.name {
  font-size: 14px;
  font-weight: 700;
}

.descr {
  margin: 0 auto;
  font-size: 12px;
  width: 130px;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 260px;
  }
  .name {
    font-size: 16px;
    font-weight: 700;
  }

  .descr {
    font-size: 14px;
    width: 210px;
  }
}
